body {
    margin: 0;
    font-family: "Montserrat", sans-serif !important;
    background-color: #f7f2e8 !important;
    line-height :1.6;
  }

.navbar-brand a {
    color: #224a49;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
  }
  
  .navbar-brand a:hover{
      text-decoration: none;
      color:  rgb(229,62,38);
  }
  
  .navbar-nav a {
    padding: 0 20px;
    color: #224a49;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
  }
  
  .navbar-nav a:hover{
      text-decoration: none;
      color:  rgb(229,62,38);
  }
  
  .form-container{
      max-width:500px;
      width:100%;
  }

  .limit-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 22px;     /* fallback */
    max-height: 40px;      /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
 }

 h1,h2,h3,h4{
    font-family: 'Barlow Condensed', sans-serif !important;
 }

 .more-link, .post-title{
     text-transform: uppercase;
     color: #224a49;
     font-size:24px;
     font-weight: bold;
     font-family: 'Barlow Condensed', sans-serif;
 }

 .more-link:hover{
    color:  rgb(229,62,38);
 }

 .post-title{
   font-size:32px;
   
 }

 .cursor-pointer{
     cursor:pointer
 }

 .footer-bg{
     background: #E6E1D7;
 }

 .custom-btn{
     background: #224a49 !important;
     border-color:#224a49 !important;
 }
  
 
